<a href="https://colab.research.google.com/github/KamalikaSene/PCOS-FertiliCare/blob/ML-Preprocessing/Preprocessing_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [86]:
import copy
import time
import numpy as np
import pandas as pd
import warnings
import seaborn as sns
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import os
import openpyxl
import sklearn

In [87]:
df = pd.read_excel("PCOS_data_without_infertility.xlsx",sheet_name=1)

In [88]:
df.head().T

                               0          1          2          3          4
Sl. No                         1          2          3          4          5
Patient File No.               1          2          3          4          5
PCOS (Y/N)                     0          0          1          0          0
 Age (yrs)                    28         36         33         37         25
Weight (Kg)                 44.6       65.0       68.8       65.0       52.0
Height(Cm)                 152.0      161.5      165.0      148.0      161.0
BMI                         19.3  24.921163  25.270891  29.674945  20.060954
Blood Group                   15         15         11         13         11
Pulse rate(bpm)               78         74         72         72         72
RR (breaths/min)              22         20         18         20         18
Hb(g/dl)                   10.48       11.7       11.8       12.0       10.0
Cycle(R/I)                     2          2          2          2          2
Cycle length(days)             5          5          5          5          5
Marraige Status (Yrs)        7.0       11.0       10.0        4.0        1.0
Pregnant(Y/N)                  0          1          1          0          1
No. of aborptions              0          0          0          0          0
  I   beta-HCG(mIU/mL)      1.99       60.8     494.08       1.99     801.45
II    beta-HCG(mIU/mL)      1.99       1.99     494.08       1.99     801.45
FSH(mIU/mL)                 7.95       6.73       5.54       8.06       3.98
LH(mIU/mL)                  3.68       1.09       0.88       2.36        0.9
FSH/LH                  2.160326   6.174312   6.295455   3.415254   4.422222
Hip(inch)                     36         38         40         42         37
Waist(inch)                   30         32         36         36         30
Waist:Hip Ratio         0.833333   0.842105        0.9   0.857143   0.810811
TSH (mIU/L)                 0.68       3.16       2.54      16.41       3.57
AMH(ng/mL)                  2.07       1.53       6.63       1.22       2.26
PRL(ng/mL)                 45.16      20.09      10.52       36.9      30.09
Vit D3 (ng/mL)              17.1       61.3       49.7       33.4       43.8
PRG(ng/mL)                  0.57       0.97       0.36       0.36       0.38
RBS(mg/dl)                  92.0       92.0       84.0       76.0       84.0
Weight gain(Y/N)               0          0          0          0          0
hair growth(Y/N)               0          0          0          0          0
Skin darkening (Y/N)           0          0          0          0          0
Hair loss(Y/N)                 0          0          1          0          1
Pimples(Y/N)                   0          0          1          0          0
Fast food (Y/N)              1.0        0.0        1.0        0.0        0.0
Reg.Exercise(Y/N)              0          0          0          0          0
BP _Systolic (mmHg)          110        120        120        120        120
BP _Diastolic (mmHg)          80         70         80         70         80
Follicle No. (L)               3          3         13          2          3
Follicle No. (R)               3          5         15          2          4
Avg. F size (L) (mm)        18.0       15.0       18.0       15.0       16.0
Avg. F size (R) (mm)        18.0       14.0       20.0       14.0       14.0
Endometrium (mm)             8.5        3.7       10.0        7.5        7.0
Unnamed: 44                  NaN        NaN        NaN        NaN        NaN

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541 entries, 0 to 540
Data columns (total 45 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Sl. No                  541 non-null    int64
 1   Patient File No.        541 non-null    int64
 2   PCOS (Y/N)              541 non-null    int64
 3    Age (yrs)              541 non-null    int64
 4   Weight (Kg)             541 non-null    float64
 5   Height(Cm)              541 non-null    float64
 6   BMI                     541 non-null    float64
 7   Blood Group             541 non-null    int64
 8   Pulse rate(bpm)         541 non-null    int64
 9   RR (breaths/min)        541 non-null    int64
 10  Hb(g/dl)                541 non-null    float64
 11  Cycle(R/I)              541 non-null    int64
 12  Cycle length(days)      541 non-null    int64
 13  Marraige Status (Yrs)   540 non-null    float64
 14  Pregnant(Y/N)           541 non-null    int64
 15  No. of aborptions       541 non-null    int64
 16    I   beta-HCG(mIU/mL)  541 non-null    float64
 17  II    beta-HCG(mIU/mL)  541 non-null    object
 18  FSH(mIU/mL)             541 non-null    float64
 19  LH(mIU/mL)              541 non-null    float64
 20  FSH/LH                  541 non-null    float64
 21  Hip(inch)               541 non-null    int64
 22  Waist(inch)             541 non-null    int64
 23  Waist:Hip Ratio         541 non-null    float64
 24  TSH (mIU/L)             541 non-null    float64
 25  AMH(ng/mL)              541 non-null    object
 26  PRL(ng/mL)              541 non-null    float64
 27  Vit D3 (ng/mL)          541 non-null    float64
 28  PRG(ng/mL)              541 non-null    float64
 29  RBS(mg/dl)              541 non-null    float64
 30  Weight gain(Y/N)        541 non-null    int64
 31  hair growth(Y/N)        541 non-null    int64
 32  Skin darkening (Y/N)    541 non-null    int64
 33  Hair loss(Y/N)          541 non-null    int64
 34  Pimples(Y/N)            541 non-null    int64
 35  Fast food (Y/N)         540 non-null    float64
 36  Reg.Exercise(Y/N)       541 non-null    int64
 37  BP _Systolic (mmHg)     541 non-null    int64
 38  BP _Diastolic (mmHg)    541 non-null    int64
 39  Follicle No. (L)        541 non-null    int64
 40  Follicle No. (R)        541 non-null    int64
 41  Avg. F size (L) (mm)    541 non-null    float64
 42  Avg. F size (R) (mm)    541 non-null    float64
 43  Endometrium (mm)        541 non-null    float64
 44  Unnamed: 44             2 non-null      object
dtypes: float64(19), int64(23), object(3)
memory usage: 190.3+ KB

In [90]:
lst_missing_columns = df.columns[df.isna().any()].tolist()
print(lst_missing_columns)

['Marraige Status (Yrs)', 'Fast food (Y/N)', 'Unnamed: 44']

Identifying non-numeric columns in the dataset

In [91]:
non_numeric_columns = df.select_dtypes(exclude=[np.number]).columns
print("Columns with non-numeric values:", non_numeric_columns)

Columns with non-numeric values: Index(['II    beta-HCG(mIU/mL)', 'AMH(ng/mL)', 'Unnamed: 44'], dtype='object')

removal of unnamed column which only has 2 values and they are non-numeric as well

In [92]:
df = df.drop(columns=["Unnamed: 44"])

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541 entries, 0 to 540
Data columns (total 44 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Sl. No                  541 non-null    int64
 1   Patient File No.        541 non-null    int64
 2   PCOS (Y/N)              541 non-null    int64
 3    Age (yrs)              541 non-null    int64
 4   Weight (Kg)             541 non-null    float64
 5   Height(Cm)              541 non-null    float64
 6   BMI                     541 non-null    float64
 7   Blood Group             541 non-null    int64
 8   Pulse rate(bpm)         541 non-null    int64
 9   RR (breaths/min)        541 non-null    int64
 10  Hb(g/dl)                541 non-null    float64
 11  Cycle(R/I)              541 non-null    int64
 12  Cycle length(days)      541 non-null    int64
 13  Marraige Status (Yrs)   540 non-null    float64
 14  Pregnant(Y/N)           541 non-null    int64
 15  No. of aborptions       541 non-null    int64
 16    I   beta-HCG(mIU/mL)  541 non-null    float64
 17  II    beta-HCG(mIU/mL)  541 non-null    object
 18  FSH(mIU/mL)             541 non-null    float64
 19  LH(mIU/mL)              541 non-null    float64
 20  FSH/LH                  541 non-null    float64
 21  Hip(inch)               541 non-null    int64
 22  Waist(inch)             541 non-null    int64
 23  Waist:Hip Ratio         541 non-null    float64
 24  TSH (mIU/L)             541 non-null    float64
 25  AMH(ng/mL)              541 non-null    object
 26  PRL(ng/mL)              541 non-null    float64
 27  Vit D3 (ng/mL)          541 non-null    float64
 28  PRG(ng/mL)              541 non-null    float64
 29  RBS(mg/dl)              541 non-null    float64
 30  Weight gain(Y/N)        541 non-null    int64
 31  hair growth(Y/N)        541 non-null    int64
 32  Skin darkening (Y/N)    541 non-null    int64
 33  Hair loss(Y/N)          541 non-null    int64
 34  Pimples(Y/N)            541 non-null    int64
 35  Fast food (Y/N)         540 non-null    float64
 36  Reg.Exercise(Y/N)       541 non-null    int64
 37  BP _Systolic (mmHg)     541 non-null    int64
 38  BP _Diastolic (mmHg)    541 non-null    int64
 39  Follicle No. (L)        541 non-null    int64
 40  Follicle No. (R)        541 non-null    int64
 41  Avg. F size (L) (mm)    541 non-null    float64
 42  Avg. F size (R) (mm)    541 non-null    float64
 43  Endometrium (mm)        541 non-null    float64
dtypes: float64(19), int64(23), object(2)
memory usage: 186.1+ KB

identifying the remaining columns with missing values

In [94]:
lst_missing_columns = df.columns[df.isna().any()].tolist()
print(lst_missing_columns)

['Marraige Status (Yrs)', 'Fast food (Y/N)']

replacing missing values with their medians

In [95]:
for x in lst_missing_columns:
    df[x] = pd.to_numeric(df[x], errors='coerce')
    df[x] = df[x].fillna(df[x].median())

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541 entries, 0 to 540
Data columns (total 44 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Sl. No                  541 non-null    int64
 1   Patient File No.        541 non-null    int64
 2   PCOS (Y/N)              541 non-null    int64
 3    Age (yrs)              541 non-null    int64
 4   Weight (Kg)             541 non-null    float64
 5   Height(Cm)              541 non-null    float64
 6   BMI                     541 non-null    float64
 7   Blood Group             541 non-null    int64
 8   Pulse rate(bpm)         541 non-null    int64
 9   RR (breaths/min)        541 non-null    int64
 10  Hb(g/dl)                541 non-null    float64
 11  Cycle(R/I)              541 non-null    int64
 12  Cycle length(days)      541 non-null    int64
 13  Marraige Status (Yrs)   541 non-null    float64
 14  Pregnant(Y/N)           541 non-null    int64
 15  No. of aborptions       541 non-null    int64
 16    I   beta-HCG(mIU/mL)  541 non-null    float64
 17  II    beta-HCG(mIU/mL)  541 non-null    object
 18  FSH(mIU/mL)             541 non-null    float64
 19  LH(mIU/mL)              541 non-null    float64
 20  FSH/LH                  541 non-null    float64
 21  Hip(inch)               541 non-null    int64
 22  Waist(inch)             541 non-null    int64
 23  Waist:Hip Ratio         541 non-null    float64
 24  TSH (mIU/L)             541 non-null    float64
 25  AMH(ng/mL)              541 non-null    object
 26  PRL(ng/mL)              541 non-null    float64
 27  Vit D3 (ng/mL)          541 non-null    float64
 28  PRG(ng/mL)              541 non-null    float64
 29  RBS(mg/dl)              541 non-null    float64
 30  Weight gain(Y/N)        541 non-null    int64
 31  hair growth(Y/N)        541 non-null    int64
 32  Skin darkening (Y/N)    541 non-null    int64
 33  Hair loss(Y/N)          541 non-null    int64
 34  Pimples(Y/N)            541 non-null    int64
 35  Fast food (Y/N)         541 non-null    float64
 36  Reg.Exercise(Y/N)       541 non-null    int64
 37  BP _Systolic (mmHg)     541 non-null    int64
 38  BP _Diastolic (mmHg)    541 non-null    int64
 39  Follicle No. (L)        541 non-null    int64
 40  Follicle No. (R)        541 non-null    int64
 41  Avg. F size (L) (mm)    541 non-null    float64
 42  Avg. F size (R) (mm)    541 non-null    float64
 43  Endometrium (mm)        541 non-null    float64
dtypes: float64(19), int64(23), object(2)
memory usage: 186.1+ KB

identifying the existing non-numeric columns

In [97]:
non_numeric_columns = df.select_dtypes(exclude=[np.number]).columns
print("Columns with non-numeric values:", non_numeric_columns)

Columns with non-numeric values: Index(['II    beta-HCG(mIU/mL)', 'AMH(ng/mL)'], dtype='object')

Converting non numeric values of object type to numeric type

In [98]:
df["AMH(ng/mL)"] = pd.to_numeric(df["AMH(ng/mL)"],errors="coerce")
df["II    beta-HCG(mIU/mL)"] = pd.to_numeric(df["II    beta-HCG(mIU/mL)"], errors="coerce")

In [99]:
print(df["II    beta-HCG(mIU/mL)"] )

0        1.99
1        1.99
2      494.08
3        1.99
4      801.45
        ...
536      1.99
537      1.99
538      1.99
539      1.99
540      1.99
Name: II    beta-HCG(mIU/mL), Length: 541, dtype: float64

In [100]:
print(df["AMH(ng/mL)"])

0       2.07
1       1.53
2       6.63
3       1.22
4       2.26
       ...
536     1.70
537     5.60
538     3.70
539     5.20
540    20.00
Name: AMH(ng/mL), Length: 541, dtype: float64

if there are any unidentified columns with non numerical data, convert them to numeric

In [101]:
for column in df.columns:
    df[column] = pd.to_numeric(df[column], errors='coerce')

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541 entries, 0 to 540
Data columns (total 44 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Sl. No                  541 non-null    int64
 1   Patient File No.        541 non-null    int64
 2   PCOS (Y/N)              541 non-null    int64
 3    Age (yrs)              541 non-null    int64
 4   Weight (Kg)             541 non-null    float64
 5   Height(Cm)              541 non-null    float64
 6   BMI                     541 non-null    float64
 7   Blood Group             541 non-null    int64
 8   Pulse rate(bpm)         541 non-null    int64
 9   RR (breaths/min)        541 non-null    int64
 10  Hb(g/dl)                541 non-null    float64
 11  Cycle(R/I)              541 non-null    int64
 12  Cycle length(days)      541 non-null    int64
 13  Marraige Status (Yrs)   541 non-null    float64
 14  Pregnant(Y/N)           541 non-null    int64
 15  No. of aborptions       541 non-null    int64
 16    I   beta-HCG(mIU/mL)  541 non-null    float64
 17  II    beta-HCG(mIU/mL)  540 non-null    float64
 18  FSH(mIU/mL)             541 non-null    float64
 19  LH(mIU/mL)              541 non-null    float64
 20  FSH/LH                  541 non-null    float64
 21  Hip(inch)               541 non-null    int64
 22  Waist(inch)             541 non-null    int64
 23  Waist:Hip Ratio         541 non-null    float64
 24  TSH (mIU/L)             541 non-null    float64
 25  AMH(ng/mL)              540 non-null    float64
 26  PRL(ng/mL)              541 non-null    float64
 27  Vit D3 (ng/mL)          541 non-null    float64
 28  PRG(ng/mL)              541 non-null    float64
 29  RBS(mg/dl)              541 non-null    float64
 30  Weight gain(Y/N)        541 non-null    int64
 31  hair growth(Y/N)        541 non-null    int64
 32  Skin darkening (Y/N)    541 non-null    int64
 33  Hair loss(Y/N)          541 non-null    int64
 34  Pimples(Y/N)            541 non-null    int64
 35  Fast food (Y/N)         541 non-null    float64
 36  Reg.Exercise(Y/N)       541 non-null    int64
 37  BP _Systolic (mmHg)     541 non-null    int64
 38  BP _Diastolic (mmHg)    541 non-null    int64
 39  Follicle No. (L)        541 non-null    int64
 40  Follicle No. (R)        541 non-null    int64
 41  Avg. F size (L) (mm)    541 non-null    float64
 42  Avg. F size (R) (mm)    541 non-null    float64
 43  Endometrium (mm)        541 non-null    float64
dtypes: float64(21), int64(23)
memory usage: 186.1 KB

removing leading white spaces in column names

In [103]:
df = df.rename(columns=lambda x: x.strip())

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541 entries, 0 to 540
Data columns (total 44 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Sl. No                  541 non-null    int64
 1   Patient File No.        541 non-null    int64
 2   PCOS (Y/N)              541 non-null    int64
 3   Age (yrs)               541 non-null    int64
 4   Weight (Kg)             541 non-null    float64
 5   Height(Cm)              541 non-null    float64
 6   BMI                     541 non-null    float64
 7   Blood Group             541 non-null    int64
 8   Pulse rate(bpm)         541 non-null    int64
 9   RR (breaths/min)        541 non-null    int64
 10  Hb(g/dl)                541 non-null    float64
 11  Cycle(R/I)              541 non-null    int64
 12  Cycle length(days)      541 non-null    int64
 13  Marraige Status (Yrs)   541 non-null    float64
 14  Pregnant(Y/N)           541 non-null    int64
 15  No. of aborptions       541 non-null    int64
 16  I   beta-HCG(mIU/mL)    541 non-null    float64
 17  II    beta-HCG(mIU/mL)  540 non-null    float64
 18  FSH(mIU/mL)             541 non-null    float64
 19  LH(mIU/mL)              541 non-null    float64
 20  FSH/LH                  541 non-null    float64
 21  Hip(inch)               541 non-null    int64
 22  Waist(inch)             541 non-null    int64
 23  Waist:Hip Ratio         541 non-null    float64
 24  TSH (mIU/L)             541 non-null    float64
 25  AMH(ng/mL)              540 non-null    float64
 26  PRL(ng/mL)              541 non-null    float64
 27  Vit D3 (ng/mL)          541 non-null    float64
 28  PRG(ng/mL)              541 non-null    float64
 29  RBS(mg/dl)              541 non-null    float64
 30  Weight gain(Y/N)        541 non-null    int64
 31  hair growth(Y/N)        541 non-null    int64
 32  Skin darkening (Y/N)    541 non-null    int64
 33  Hair loss(Y/N)          541 non-null    int64
 34  Pimples(Y/N)            541 non-null    int64
 35  Fast food (Y/N)         541 non-null    float64
 36  Reg.Exercise(Y/N)       541 non-null    int64
 37  BP _Systolic (mmHg)     541 non-null    int64
 38  BP _Diastolic (mmHg)    541 non-null    int64
 39  Follicle No. (L)        541 non-null    int64
 40  Follicle No. (R)        541 non-null    int64
 41  Avg. F size (L) (mm)    541 non-null    float64
 42  Avg. F size (R) (mm)    541 non-null    float64
 43  Endometrium (mm)        541 non-null    float64
dtypes: float64(21), int64(23)
memory usage: 186.1 KB

removing pregnant women records from the dataset

In [105]:
df = df[df['Pregnant(Y/N)'] != 1]
df.reset_index(drop=True, inplace=True)

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 44 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Sl. No                  335 non-null    int64
 1   Patient File No.        335 non-null    int64
 2   PCOS (Y/N)              335 non-null    int64
 3   Age (yrs)               335 non-null    int64
 4   Weight (Kg)             335 non-null    float64
 5   Height(Cm)              335 non-null    float64
 6   BMI                     335 non-null    float64
 7   Blood Group             335 non-null    int64
 8   Pulse rate(bpm)         335 non-null    int64
 9   RR (breaths/min)        335 non-null    int64
 10  Hb(g/dl)                335 non-null    float64
 11  Cycle(R/I)              335 non-null    int64
 12  Cycle length(days)      335 non-null    int64
 13  Marraige Status (Yrs)   335 non-null    float64
 14  Pregnant(Y/N)           335 non-null    int64
 15  No. of aborptions       335 non-null    int64
 16  I   beta-HCG(mIU/mL)    335 non-null    float64
 17  II    beta-HCG(mIU/mL)  334 non-null    float64
 18  FSH(mIU/mL)             335 non-null    float64
 19  LH(mIU/mL)              335 non-null    float64
 20  FSH/LH                  335 non-null    float64
 21  Hip(inch)               335 non-null    int64
 22  Waist(inch)             335 non-null    int64
 23  Waist:Hip Ratio         335 non-null    float64
 24  TSH (mIU/L)             335 non-null    float64
 25  AMH(ng/mL)              334 non-null    float64
 26  PRL(ng/mL)              335 non-null    float64
 27  Vit D3 (ng/mL)          335 non-null    float64
 28  PRG(ng/mL)              335 non-null    float64
 29  RBS(mg/dl)              335 non-null    float64
 30  Weight gain(Y/N)        335 non-null    int64
 31  hair growth(Y/N)        335 non-null    int64
 32  Skin darkening (Y/N)    335 non-null    int64
 33  Hair loss(Y/N)          335 non-null    int64
 34  Pimples(Y/N)            335 non-null    int64
 35  Fast food (Y/N)         335 non-null    float64
 36  Reg.Exercise(Y/N)       335 non-null    int64
 37  BP _Systolic (mmHg)     335 non-null    int64
 38  BP _Diastolic (mmHg)    335 non-null    int64
 39  Follicle No. (L)        335 non-null    int64
 40  Follicle No. (R)        335 non-null    int64
 41  Avg. F size (L) (mm)    335 non-null    float64
 42  Avg. F size (R) (mm)    335 non-null    float64
 43  Endometrium (mm)        335 non-null    float64
dtypes: float64(21), int64(23)
memory usage: 115.3 KB

defining an excel file

In [107]:
file_name = "final_dataset.xlsx"

saving the dataframe as an excel file

In [108]:
df.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.